In [ ]:
# If running with Google Colab, uncomment this
from google.colab import drive
drive.mount('/content/drive')
dataFolder = '/content/drive/My Drive/backup_data/new/data'

import os
os.chdir(dataFolder)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [ ]:
data = pd.read_csv("anonymized_Adult2Training.csv", dtype = {"fnlwgt":int, "education-num":int, "capital-gain":int, "capital-loss":int, "hours-per-week":int})

In [ ]:
data.head()

     age          workclass  fnlwgt  ... hours-per-week  native-country    class
0  0-100          State-gov   77516  ...             40            asia   <=50K.
1  0-100   Self-emp-not-inc   83311  ...             13            asia   <=50K.
2  0-100            Private  215646  ...             40            asia   <=50K.
3  0-100            Private  234721  ...             40            asia   <=50K.
4  0-100            Private  338409  ...             40          euroup   <=50K.

[5 rows x 15 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3998 entries, 0 to 3997
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             3998 non-null   object
 1   workclass       3998 non-null   object
 2   fnlwgt          3998 non-null   int64
 3   education       3998 non-null   object
 4   education-num   3998 non-null   int64
 5   marital-status  3998 non-null   object
 6   occupation      3998 non-null   object
 7   relationship    3998 non-null   object
 8   race            3998 non-null   object
 9   sex             3998 non-null   object
 10  capital-gain    3998 non-null   int64
 11  capital-loss    3998 non-null   int64
 12  hours-per-week  3998 non-null   int64
 13  native-country  3998 non-null   object
 14  class           3998 non-null   object
dtypes: int64(5), object(10)
memory usage: 468.6+ KB

In [ ]:
data.groupby(["age"]).count()

       workclass  fnlwgt  education  ...  hours-per-week  native-country  class
age                                  ...
0-100       3998    3998       3998  ...            3998            3998   3998

[1 rows x 14 columns]

In [ ]:
data.groupby(["relationship"]).count()

                  age  workclass  fnlwgt  ...  hours-per-week  native-country  class
relationship                              ...
 Husband         1618       1618    1618  ...            1618            1618   1618
 Not-in-family   1036       1036    1036  ...            1036            1036   1036
 Other-relative   111        111     111  ...             111             111    111
 Own-child        598        598     598  ...             598             598    598
 Unmarried        433        433     433  ...             433             433    433
 Wife             202        202     202  ...             202             202    202

[6 rows x 14 columns]

In [ ]:
data.groupby(["native-country"]).count()

                 age  workclass  fnlwgt  ...  capital-loss  hours-per-week  class
native-country                           ...
asia            3657       3657    3657  ...          3657            3657   3657
euroup           341        341     341  ...           341             341    341

[2 rows x 14 columns]

In [ ]:
lb_make = LabelEncoder()
data["age"] = lb_make.fit_transform(data["age"])
data["workclass"] = lb_make.fit_transform(data["workclass"])
data["education"] = lb_make.fit_transform(data["education"])
data["marital-status"] = lb_make.fit_transform(data["marital-status"])
data["occupation"] = lb_make.fit_transform(data["occupation"])
data["relationship"] = lb_make.fit_transform(data["relationship"])
data["race"] = lb_make.fit_transform(data["race"])
data["sex"] = lb_make.fit_transform(data["sex"])
data["native-country"] = lb_make.fit_transform(data["native-country"])
data["class"] = lb_make.fit_transform(data["class"])

In [ ]:
X = data[['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']]
y = data["class"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
clf = RandomForestClassifier(max_depth=14, random_state=2)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=14, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=2, verbose=0,
                       warm_start=False)

In [ ]:
y_predict = clf.predict(X_test)
print(y_predict)

[0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0
 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0
 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 1 0 0 0 1 1 0 0 0 0 1 1 0 1
 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 0 1 0 0 1 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0
 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 1 0
 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0
 0 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 0 0 0 0 0
 1 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 1 1 0 1 0 0
 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1
 0 0 0 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 1 1 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0
 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0
 1 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0]

In [ ]:
accuracy_score(y_predict, y_test)

0.83375